@page "/byaidstation"

@using BFBMX.Service.Helpers
@using BFBMX.Service.Models
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Diagnostics

@inject IHttpClientFactory ClientFactory
@inject IHttpConfiguration HttpConfig
@inject IAidStationsDict AidStationsDict

@rendermode InteractiveServer

<h1>Aid Station Report</h1>

<section class="input-form">
    @if (!CanDisplayAidStationStats)
    {
        <article>
            <label for="queryAidStation" class="cntr-data-heading">Enter Aid Station Name or Abbreviation</label>
            <input id="queryAidStation" type="text" class="bigfoot-text-input-cntr" @bind="QueryAidStation" />
            <button class="bf-button-base bf-button-darkgreen" @onclick="HandleTextInput">Get Aid Station Report</button>

            @if (string.IsNullOrWhiteSpace(InputValidationMessage) == false)
            {
                <p class="text-danger text-lg-center">@InputValidationMessage</p>
            }

        </article>
        <article class="as-list-container">
            <div class="cntr-data-heading">Or click an available Aid Station (below)</div>
            @foreach (string aidStation in AidStationsDict.GetAll())
            {
                <div class="bf-clickable-text" @onclick="() => HandleSetQueryName(aidStation)">@aidStation</div>
            }
        </article>
    }
    else
    {
        <button class="bf-button-base bf-button-darkgreen" @onclick="HandleGetNewQuery">Click to query another Aid Station</button>
    }
</section>

<section class="bf-card-container-h">
    @if (IsResponseAnError)
    {
        <article>
            <p class="text-danger">Unable to retrieve data. Check your search input and try again.</p>
            <p>@ResponseErrorMessage</p>
        </article>
    }
</section>


@if(CanDisplayAidStationStats)
{
    @if (AllWinlinkIDs.Count() < 1)
    {
        <article class="bf-wl-msg-card">
            <p class="no-wl-messages">No Winlink messages received from @(AidStationName) yet</p>
        </article>
    }
    else
    {
        <article class="bf-wl-msg-card">
            <p class="stat-section-title">@AidStationName data received as of @LastUpdated</p>
        </article>
    }

    <section class="bf-card-container-h">
        @if (AllWinlinkIDs.Count > 0)
        {
            <article class="bf-wl-msg-card">
                <div class="bf-wl-msg-card-heading">
                    Winlink IDs (@AllWinlinkIDs.Count())
                </div>
                <div class="bf-csv-records-container">
                    @foreach (string wlID in AllWinlinkIDs)
                    {
                        <div class="bf-values-container-base bf-values-green-bkgnd">@wlID</div>
                    }
                </div>
            </article>
        }

        @if (MessageDateStamps.Count > 0)
        {
            <article class="bf-wl-msg-card">
                <div class="bf-wl-msg-card-heading">
                    Message Date Stamps (@MessageDateStamps.Count())
                </div>
                <div class="bf-csv-records-container">
                    @foreach (DateTime datestamp in MessageDateStamps)
                    {
                        <div class="bf-values-container-base bf-values-ltgreen-bkgnd">@datestamp</div>
                    }
                </div>
            </article>
        }

        <article class="bf-wl-msg-card">
            <div class="bf-wl-msg-card-heading">
                Bibs With Other Status (@BibsOtherAction.Count())
            </div>
            <div class="bf-csv-records-container">
                @if (BibsOtherAction.Count() > 0)
                {
                    @foreach (string bib in BibsOtherAction)
                    {
                        <div class="bf-values-container-base bf-values-orange-bkgnd">@bib</div>
                    }
                }
                else
                {
                    <div class="bf-values-container-base bf-values-ltgreen-bkgnd">None</div>
                }
            </div>
        </article>

        @if (HasBibData && CalculatedPopulation.Count() >= 0)
        {
            <article class="bf-wl-msg-card">
                <div class="bf-wl-msg-card-heading">
                    Calculated Population (@CalculatedPopulation.Count())
                </div>
                    <div class="bf-csv-records-container">
                    @if(BibsArrived.Count() < BibsDeparted.Count())
                    {
                        <div class="text-danger cntr-data-heading">!! More OUT than IN !!</div>
                    }
                    @foreach(int bib in CalculatedPopulation)
                    {
                        <div class="bf-values-container-base bf-values-yellow-bkgnd">@bib</div>
                    }
                </div>
            </article>
        }

        @if (BibsDeparted.Count() > 0)
        {
            <article class="bf-wl-msg-card">
                <div class="bf-wl-msg-card-heading">Bibs Exited (@BibsDeparted.Count())</div>
                <div class="bf-csv-records-container">
                    @foreach (int bib in BibsDeparted)
                    {
                        <div class="bf-values-container-base bf-values-green-bkgnd">@bib</div>
                    }
                </div>
            </article>
        }

        @if (BibsArrived.Count() > 0)
        {
            <article class="bf-wl-msg-card">
                <div class="bf-wl-msg-card-heading">Bibs Arrived (@BibsArrived.Count())</div>
                <div class="bf-csv-records-container">
                    @foreach (int bib in BibsArrived)
                    {
                        <div class="bf-values-container-base bf-values-yellow-bkgnd">@bib</div>
                    }
                </div>
            </article>
        }

        @if (UniqueBibsSeen.Count() > 0)
        {
            <article class="bf-wl-msg-card">
                <div class="bf-wl-msg-card-heading">All Bibs Seen (@UniqueBibsSeen.Count())</div>
                <div class="bf-csv-records-container">
                    @foreach (int bib in UniqueBibsSeen)
                    {
                        <div class="bf-values-container-base bf-values-ltgreen-bkgnd">@bib</div>
                    }
                </div>
            </article>
        }

    </section>
}

@code {
    public string LastUpdated { get; set; } = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
    public string AidStationName { get; set; } = "Not Set!";
    public string QueryAidStation { get; set; } = string.Empty;
    public string ResponseErrorMessage { get; set; } = string.Empty;
    public string InputValidationMessage { get; set; } = string.Empty;

    public int TotalBibsSeenCount => BibsArrived.Count() + BibsDeparted.Count() + BibsOtherAction.Count();

    public bool IsRequestSent { get; set; }
    public bool IsResponseAnError { get; set; }
    public bool CanDisplayAidStationStats { get; set; }
    public bool HasBibData => TotalBibsSeenCount > 0;

    public AidStationStatisticsModel? AidStationResponse { get; set; }
    public HashSet<string> AllWinlinkIDs { get; set; } = new(); // unique list of WL IDs received
    public SortedSet<DateTime> MessageDateStamps = new();
    public SortedSet<int> UniqueBibsSeen { get; set; } = new(); // which unique bib numbers HAS this AS reported on?
    public SortedSet<int> BibsArrived { get; set; } = new(); // unique bib numbers with action: IN
    public SortedSet<int> BibsDeparted { get; set; } = new(); // unique bib numbers with action: OUT
    public SortedSet<int> CalculatedPopulation { get; set; } = new(); // calculated list of bibs at this AS
    public List<string> BibsOtherAction { get; set; } = new(); // unique bib numbers with NEITHER action: IN nor OUT

    public void ClearDataFields()
    {
        AidStationResponse = null;
        UniqueBibsSeen.Clear();
        BibsArrived.Clear();
        BibsDeparted.Clear();
        BibsOtherAction.Clear();
        MessageDateStamps.Clear();
        AidStationName = string.Empty;
        AllWinlinkIDs.Clear();
        CalculatedPopulation.Clear();
        QueryAidStation = string.Empty;
        ResponseErrorMessage = string.Empty;
        IsResponseAnError = false;
    }

    public async Task HandleSetQueryName(string aidStation)
    {
        string[] aidStnComponents = aidStation.Split(":");
        string shortName = aidStnComponents[0].Trim();
        string longName = aidStnComponents[1].Trim();
        QueryAidStation = shortName;
        await HandleGetAidStationStats();
    }

    public void HandleGetNewQuery()
    {
        ClearDataFields();
        IsRequestSent = false;
        IsResponseAnError = false;
        CanDisplayAidStationStats = false;
    }

    public void ConvertAidStationName(string queryInput)
    {
        string inputName = queryInput.Trim().ToLower();

        if (inputName.Length > 2)
        {
            QueryAidStation = AidStationsDict.GetAidStationCode(inputName) ?? string.Empty;
            return;
        }

        if (inputName.Length == 2)
        {
            QueryAidStation = AidStationsDict.GetAidStationName(inputName);
            return;
        }

        if (inputName.Length < 2)
        {
            QueryAidStation = string.Empty;
        }
    }

    public async Task HandleTextInput()
    {
        ConvertAidStationName(QueryAidStation);
        await HandleGetAidStationStats();
    }

    public async Task HandleGetAidStationStats()
    {
        try
        {
            InputValidationMessage = string.Empty;
            string queryAidStationEndpoint = string.Concat(HttpConfig.AidStationEndpoint, "/", QueryAidStation);
            HttpRequestMessage request = new(HttpMethod.Get, queryAidStationEndpoint);
            request.Headers.Add("Accept", HttpConfig.AcceptHeader);
            request.Headers.Add("User-Agent", HttpConfig.UserAgentHeader);
            HttpClient client = ClientFactory.CreateClient();
            CancellationToken ct = HttpConfig.Cts.Token;
            HttpResponseMessage response = await client.SendAsync(request, ct);

            if (response.IsSuccessStatusCode)
            {
                using System.IO.Stream responseStream = await response.Content.ReadAsStreamAsync();
                AidStationResponse = await JsonSerializer.DeserializeAsync<AidStationStatisticsModel>(responseStream, HttpConfig.JsonOptions);
                IsRequestSent = true;
            }
            else
            {
                ResponseErrorMessage = $"{(int)response.StatusCode} {response.ReasonPhrase}";
                IsResponseAnError = true;
            }

            if (IsResponseAnError)
            {
                CanDisplayAidStationStats = false;
            }
            else
            {
                LoadWinlinkMessageMetaData();
                AidStationName = AidStationResponse!.AidStationName;
                LoadBibsReportedOn();
                GetCalculatedPopulation();
                CanDisplayAidStationStats = true;
            }
        }
        catch (Exception ex)
        {
            /*
            * Possible Exceptions from both HttpRequestMessage and HttpClient:
            *
            * ArgumentNullException
            * InvalidOperationException
            * HttpRequestException
            * TaskCanceledException
            * OperationCanceledException
            *
            * These need to be logged
            */

            Debug.WriteLine($"{ex.Message}\n{ex.StackTrace}");
            IsResponseAnError = true;
            ResponseErrorMessage = ex.Message;
            CanDisplayAidStationStats = !IsResponseAnError;
            ClearDataFields();
        }

    }

    public void GetCalculatedPopulation()
    {
        foreach(var bib in BibsArrived)
        {
            if (!BibsDeparted.Contains(bib))
            {
                CalculatedPopulation.Add(bib);
            }
        }
    }

    public void LoadBibsReportedOn()
    {
        foreach(WinlinkMessageModel winlinkMessage in AidStationResponse!.WinlinkMessages)
        {
            foreach(FlaggedBibRecordModel bibRecord in winlinkMessage.BibRecords)
            {
                if (bibRecord.Location!.Trim().ToUpper() == AidStationName.Trim().ToUpper())
                {
                    ProcessBibRecord(bibRecord);
                }
            }
        }
    }

    public void ProcessBibRecord(FlaggedBibRecordModel bibRecord)
    {
        if (int.TryParse(bibRecord.BibNumber, out int bibnum))
        {
            UniqueBibsSeen.Add(bibnum);

            if (bibRecord.Action!.Trim().ToUpper() == "IN")
            {
                BibsArrived.Add(bibnum);
                return;
            }
            else if (bibRecord.Action.Trim().ToUpper() == "OUT")
            {
                BibsDeparted.Add(bibnum);
                return;
            }
        }

        BibsOtherAction.Add(bibRecord.BibNumber ?? "Error!");
    }

    public void LoadWinlinkMessageMetaData()
    {
        foreach(WinlinkMessageModel winlinkMessage in AidStationResponse!.WinlinkMessages)
        {
            MessageDateStamps.Add(winlinkMessage.MessageDateStamp);
            AllWinlinkIDs.Add(winlinkMessage.WinlinkMessageId ?? "Error!");
        }
    }
}
