@page "/bibstatistics"

@using BFBMX.Service.Helpers
@using BFBMX.Service.Models
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Diagnostics

@inject IHttpClientFactory ClientFactory
@inject IHttpConfiguration HttpConfig
@inject IAidStationsDict AidStationsDict

<h1>Bib Statistics</h1>
<p class="bib-stat-byline">As Of @LastUpdated</p>

@if (IsError)
{
    <article>
        <p class="text-danger">Unable to retrieve data. Try again later.</p>
        <p>@ErrorMessage</p>
    </article>
}
else
{
    <section class="bf-card-container-h">
        <article class="bf-wl-msg-card">
            <div class="bf-wl-msg-card-heading">Overall Statistics</div>
            <div class="bf-wl-msg-props-container">
                <div>
                    <span class="bf-wl-msg-card-key">Aid Station Reports:</span>
                    <span class="bf-wl-msg-card-value">@TotalMessages</span>
                </div>

                <div>
                    <span class="bf-wl-msg-card-key">BF200 Records Processed:</span>
                    <span class="bf-wl-msg-card-value">@BigFootBibsSeenCount</span>
                </div>

                <div>
                    <span class="bf-wl-msg-card-key">40M Records Processed:</span>
                    <span class="bf-wl-msg-card-value">@LittleFootFortySeenCount</span>
                </div>

                <div>
                    <span class="bf-wl-msg-card-key">20M Records Processed:</span>
                    <span class="bf-wl-msg-card-value">@LittleFootTwentySeenCount</span>
                </div>

                <div>
                    <span class="bf-wl-msg-card-key">Total Unique Bibs Seen:</span>
                    <span class="bf-wl-msg-card-value">@TotalBibsSeenCount</span>
                </div>
            </div>
        </article>

        <article class="bf-wl-msg-card">
            <div class="bf-wl-msg-card-heading">Reporting Aid Stations</div>
            <div class="bf-csv-records-container">
                @foreach(string aidStationName in AidStationsReporting)
                {
                    if (aidStationName.ToLower() == "unknown")
                    {
                        <div class="bf-csv-bib-record bf-warning-record">Unknown</div>
                    }
                    else
                    {
                        <div class="bf-csv-bib-record bf-nominal-record">@aidStationName</div>
                    }
                }
            </div>
        </article>

        <article class="bf-wl-msg-card">
            <div class="bf-wl-msg-card-heading">Bibs Out Of Range</div>
            <div class="bf-csv-records-container">
                @foreach (var item in UnknownBibRecords)
                {
                    <div class="bf-csv-bib-record bf-warning-record">@item.ToCommaSeparatedString()</div>
                }
            </div>
        </article>

        <article class="bf-wl-msg-card">
            <div class="bf-wl-msg-card-heading">200M Bibs</div>
            <div class="bf-wl-msg-props-container">
                <div>
                    <span class="bf-wl-msg-card-key">Count:</span>
                    <span class="bf-wl-msg-card-value">@BigFootBibsSeenCount</span>
                </div>
            </div>
            <div class="bf-csv-records-container">
                <div class="bf-csv-bib-record bf-nominal-record">@BigFootBibsSeenString</div>
            </div>
        </article>

        <article class="bf-wl-msg-card">
            <div class="bf-wl-msg-card-heading">40M Bibs</div>
            <div class="bf-wl-msg-props-container">
                <div>
                    <span class="bf-wl-msg-card-key">Count:</span>
                    <span class="bf-wl-msg-card-value">@LittleFootFortySeenCount</span>
                </div>
            </div>
            <div class="bf-csv-records-container">
                <div class="bf-csv-bib-record bf-nominal-record"></div>
            </div>
        </article>

        <article class="bf-wl-msg-card">
            <div class="bf-wl-msg-card-heading">20M Bibs</div>
            <div class="bf-wl-msg-props-container">
                <div>
                    <span class="bf-wl-msg-card-key">Count:</span>
                    <span class="bf-wl-msg-card-value">@LittleFootTwentySeenCount</span>
                </div>
            </div>
            <div class="bf-csv-records-container">
                <div class="bf-csv-bib-record bf-nominal-record"></div>
            </div>
        </article>
    </section>

    <section class="def-container">
        <h3 class="def-heading">Definitions</h3>
        <p class="def-item"><em>Messages From Aid Stations</em>: How many messages an Aid Station has sent via HAM that contain information about runners.</p>
        <p class="def-item"><em>BF200 Records Processed</em>: The number of individual records of 200-mile runner actions such as IN, OUT, or DROP.</p>
        <p class="def-item"><em>20M andn 40M Records Processed</em>: The sum of all 20-mile runner and 40-mile runner individual records of actions (IN, OUT, or DROP).</p>
        <p class="def-item"><em>Total Unique Bibs Seen</em>: Represents the number if <em>unique individual runners</em> seen on-course.</p>
        <p class="def-item"><em>Processed Bib Records to Research</em>: HAMs use this pst to uncover erroneous records and get them corrected. Common errors are mis-keyed data, or missing data components.</p>
        <p class="def-item"><em>BF200 Bibs Seen</em>: A count of unique bib numbers seen by HAMs, and an ordered list of those bib numbers.</p>
        <p class="def-item"><em>20M and 40M Bibs Seen</em>: A count of unique bib numbers seen by HAMs, and an ordered list of those bib numbers.</p>
    </section>
}

@code {
    public BibRecordsStatisticsModel? Statistics {get;set;}

    private bool PageShouldRender;
    private bool IsError;
    private bool IsRequestSent { get; set; }

    private string ErrorMessage = string.Empty;
    public string BigFootBibsSeenString = string.Empty;
    public string LittleFootFortyBibsSeenString = string.Empty;
    public string LittleFootTwentyBibsSeenString = string.Empty;

    public int TotalMessages { get; set; } = 0;
    public int TotalBibsSeenCount { get; set; } = 0;
    public int BigFootBibsSeenCount { get; set; } = 0;
    public int LittleFootFortySeenCount { get; set; } = 0;
    public int LittleFootTwentySeenCount { get; set; } = 0;

    private int[] BigFootRange = { 0, 299 };
    private int[] LittleFootTwentyRange = { 300, 599 };
    private int[] LittleFootFortyRange = { 600, 799 };

    public string LastUpdated { get; set; } = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
    SortedSet<int> BigFootBibsSeen = new();
    SortedSet<int> LittleFortyBibsSeen = new();
    SortedSet<int> LittleTwentyBibsSeen = new();

    public string UnknownItems { get; set; } = string.Empty;

    public HashSet<string> AidStationsReporting { get; set; } = new();
    public HashSet<FlaggedBibRecordModel> UnknownBibRecords = new();

    protected override bool ShouldRender() => PageShouldRender;

    public void ClearDataFields()
    {
        Statistics = null;
        AidStationsReporting.Clear();
        UnknownBibRecords.Clear();
        ErrorMessage = string.Empty;
        IsError = false;
    }

    public void LoadProps()
    {
        TotalMessages = Statistics!.TotalWinlinkMessagesProcessed;

        foreach (WinlinkMessageModel winlinkMessage in Statistics.AllWinlinkMessages)
        {

            foreach (FlaggedBibRecordModel fbrm in winlinkMessage.BibRecords)
            {
                string aidStationShortName = string.IsNullOrWhiteSpace(fbrm.Location) ? "Unknown" : fbrm.Location.Trim().ToUpper();
                string aidStationName = AidStationsDict.GetAidStationName(aidStationShortName);

                if (aidStationName != "Unknwon")
                {
                    AidStationsReporting.Add(aidStationName);
                }

                if (int.TryParse(fbrm.BibNumber, out int parsedNum))
                {
                    if (parsedNum >= BigFootRange[0] && parsedNum <= BigFootRange[1])
                    {
                        BigFootBibsSeen.Add(parsedNum);
                        continue;
                    }
                    if (parsedNum >= LittleFootFortyRange[0] && parsedNum <= LittleFootFortyRange[1])
                    {
                        LittleFortyBibsSeen.Add(parsedNum);
                        continue;
                    }
                    if (parsedNum >= LittleFootTwentyRange[0] && parsedNum <= LittleFootTwentyRange[1])
                    {
                        LittleTwentyBibsSeen.Add(parsedNum);
                        continue;
                    }
                    if (parsedNum > BigFootRange[1] && parsedNum > LittleFootFortyRange[1] && parsedNum > LittleFootTwentyRange[1])
                    {
                        UnknownBibRecords.Add(fbrm);
                    }
                }
                else
                {
                    UnknownBibRecords.Add(fbrm);
                }
            }
        }

        // set bib counts
        BigFootBibsSeenCount = BigFootBibsSeen.Count;
        LittleFootFortySeenCount = LittleFortyBibsSeen.Count;
        LittleFootTwentySeenCount = LittleTwentyBibsSeen.Count;
        TotalBibsSeenCount = BigFootBibsSeenCount + LittleFootFortySeenCount + LittleFootTwentySeenCount;

        if (BigFootBibsSeenCount > 0)
        {
            BigFootBibsSeenString = FormatBibsToBulkString(BigFootBibsSeen);
        }

        if (LittleFootFortySeenCount > 0)
        {
            LittleFootFortyBibsSeenString = FormatBibsToBulkString(LittleFortyBibsSeen);
        }

        if (LittleFootTwentySeenCount > 0)
        {
            LittleFootTwentyBibsSeenString = FormatBibsToBulkString(LittleTwentyBibsSeen);
        }
    }

    public string FormatBibsToBulkString(SortedSet<int> bibs)
    {
        StringBuilder sb = new();
        int count = 0;
        foreach(int bib in bibs)
        {
            if (count == bibs.Count() - 1)
            {
                sb.AppendLine(bib.ToString());
            }
            else
            {
                sb.AppendLine($"{bib}, ");
            }

            count++;
        }

        return sb.ToString();
    }

    public async Task GetStatistics()
    {
        try
        {
            IsError = false;
            ErrorMessage = string.Empty;

            HttpRequestMessage request = new(HttpMethod.Get, HttpConfig.StatisticsEndpoint);
            request.Headers.Add("Accept", HttpConfig.AcceptHeader);
            request.Headers.Add("User-Agent", HttpConfig.UserAgentHeader);
            HttpClient client = ClientFactory.CreateClient();
            CancellationToken ct = HttpConfig.Cts.Token;
            HttpResponseMessage response = await client.SendAsync(request, ct);

            if (response.IsSuccessStatusCode)
            {
                using System.IO.Stream responseStream = await response.Content.ReadAsStreamAsync();
                Statistics = await JsonSerializer.DeserializeAsync<BibRecordsStatisticsModel>(responseStream, HttpConfig.JsonOptions);
            }
            else
            {
                IsError = true;
                ErrorMessage = $"{(int)response.StatusCode} {response.ReasonPhrase}";
                return;
            }

            LoadProps();
            PageShouldRender = true;
        }
        catch (Exception ex)
        {
            /* 
             * Possible Exceptions from both HttpRequestMessage and HttpClient:
             * 
             * ArgumentNullException
             * InvalidOperationException
             * HttpRequestException
             * TaskCanceledException
             * OperationCanceledException
             * 
             * These need to be logged
             */

            ErrorMessage = $"{ex.Message}\n{ex.StackTrace}";
            IsError = true;
            PageShouldRender = false;
        }
    }

    override protected async Task OnInitializedAsync()
    {
        await GetStatistics();
    }
}
