@page "/droppedbibs"
@using BFBMX.Service.Models
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Diagnostics

@inject IHttpClientFactory ClientFactory
@inject IHttpConfiguration HttpConfig

<h1>Dropped Bibs Report</h1>

@if (IsError)
{
    <p>Error (under development)</p>
}
@if (Messages is null || Messages.Count() < 1)
{
    <p>No data to display. Try again later.</p>
}
else
{
    <section class="bf-card-container-h">
        <div class="bibs-seen-in data-container-common">
            <p class="cntr-data-heading">Bibs Dropped (@DroppedBibsList.Count())</p>
            <ul class="bf-ul">
                @foreach (int bib in DroppedBibsList)
                {
                    <li>@bib</li>
                }
            </ul>
        </div>

        @foreach (var message in Messages)
        {
            <article class="bf-wl-msg-card">
                <div class="bf-wl-msg-card-heading">Winlink ID: @message.WinlinkMessageId</div>
                <div class="bf-wl-msg-props-container">
                    <div>
                        <span class="bf-wl-msg-card-key">Message Timestamp:</span>
                        <span class="bf-wl-msg-card-value">@message.MessageDateStamp</span>
                    </div>
                    <div>
                        <span class="bf-wl-msg-card-key">Computer:</span>
                        <span class="bf-wl-msg-card-value">@message.ClientHostname</span>
                    </div>
                    <div>
                        <span class="bf-wl-msg-card-key">File Created:</span>
                        <span class="bf-wl-msg-card-value">@message.FileCreatedTimeStamp</span>
                    </div>
                </div>
                <div class="bf-csv-records-container">
                    @foreach(FlaggedBibRecordModel fbrm in message.BibRecords)
                    {
                        @if(fbrm.DataWarning)
                        {
                            <div class="bf-csv-bib-record bf-warning-record">@fbrm.ToCommaSeparatedString()</div>
                        }
                        else
                        {
                            <div class="bf-csv-bib-record bf-nominal-record">@fbrm.ToCommaSeparatedString()</div>
                        }
                    }
                </div>
            </article>
        }
    </section>
}

@code {
    public IEnumerable<WinlinkMessageModel>? Messages {get;set;}
    public List<string> CommaSeparatedBibRecords { get; set; } = new();
    public List<int> DroppedBibsList { get; set; } = new();

    private string ErrorMessage = string.Empty;
    private bool IsError;
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    public void ClearDataFields()
    {
        Messages = null;
        CommaSeparatedBibRecords.Clear();
        DroppedBibsList.Clear();
    }

    public async Task GetMessages()
    {
        try 
        {
            IsError = false;
            ErrorMessage = string.Empty;

            HttpRequestMessage request = new(HttpMethod.Get, HttpConfig.DropReportEndpoint);
            request.Headers.Add("Accept", HttpConfig.AcceptHeader);
            request.Headers.Add("User-Agent", HttpConfig.UserAgentHeader);
            HttpClient client = ClientFactory.CreateClient();
            CancellationToken ct = HttpConfig.Cts.Token;
            HttpResponseMessage response = await client.SendAsync(request, ct);

            if (response.IsSuccessStatusCode)
            {
                using System.IO.Stream responseStream = await response.Content.ReadAsStreamAsync();
                Messages = await JsonSerializer.DeserializeAsync<IEnumerable<WinlinkMessageModel>>(responseStream, HttpConfig.JsonOptions);
            }
            else
            {
                IsError = true;
                ErrorMessage = $"{(int)response.StatusCode} {response.ReasonPhrase}";
                return;
            }

            shouldRender = true;
            LoadBibRecords();
        }
        catch (Exception ex)
        {
            /* 
            * Possible Exceptions from both HttpRequestMessage and HttpClient:
            * 
            * ArgumentNullException
            * InvalidOperationException
            * HttpRequestException
            * TaskCanceledException
            * OperationCanceledException
            * 
            * These need to be logged
             */

            ErrorMessage = $"{ex.Message}\n{ex.StackTrace}";
            IsError = true;
            shouldRender = false;
        }
    }

    private void LoadBibRecords()
    {
        CommaSeparatedBibRecords.Clear();
        DroppedBibsList.Clear();

        if (Messages is not null && Messages.Count() > 0)
        {
            foreach(WinlinkMessageModel message in Messages)
            {
                foreach (FlaggedBibRecordModel flaggedBibRecord in message.BibRecords)
                {
                    CommaSeparatedBibRecords.Add(flaggedBibRecord.ToCommaSeparatedString());

                    if (int.TryParse(flaggedBibRecord.BibNumber, out int bibNum))
                    {
                        DroppedBibsList.Add(bibNum);
                    }
                }
            }
        }
    }

    override protected async Task OnInitializedAsync()
    {
        await GetMessages();
        await base.OnInitializedAsync();
    }
}
